 {% extends "layout.html" %}
{% block content %}
<div class="container">
    {% if feeds|count == 0 %}
        <h1>You are not subscribed to any feed. <a href="/edit_feed/">Fix this</a>.</h1>
    {% else %}
        {% for feed in feeds|sort(attribute="title") %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                <h1>{{ feed.title|safe }}</h1>
                <a href="/articles/{{ feed.oid }}"><i class="glyphicon glyphicon-th-list" title="All articles"></i></a>
                <a href="/feed/{{ feed.oid }}"><i class="glyphicon glyphicon-info-sign" title="Details"></i></a>
                <a href="/edit_feed/{{ feed.oid }}"><i class="glyphicon glyphicon-edit" title="Edit this feed"></i></a>
                {% if feed.enabled %}
                    <a href="/fetch/{{ feed.oid }}"><i class="glyphicon glyphicon-cloud-download" title="Fetch this feed"></i></a>
                {% endif %}
                <a href="/mark_as_read/{{ feed.oid }}"><i class="glyphicon glyphicon-check" title="Mark all as read"></i></a>
                </div>
            </div>
            {% for number in range(0, feed.articles|length-(feed.articles|length % 3), 3) %}
                <div class="row">
                    {% for n in range(number, number+3) %}
                    <div class="col-xs-6 col-sm-4 col-md-4">
                        {% if feed.articles[n].readed %}<h3>{% else %}<h1>{% endif %}
                            <a href="/article/{{ feed.articles[n].id }}">{{ feed.articles[n].title|safe }}</a>
                        {% if feed.articles[n].readed %}</h3>{% else %}</h1>{% endif %}
                        <h6>{{ feed.articles[n].date.strftime('%A, %d %B %Y') }}</h6>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
            {% if feed.articles|length % 3 != 0 %}
                <div class="row">
                    {% for n in range(feed.articles|length-(feed.articles|length % 3), feed.articles|length) %}
                        <div class="col-xs-6 col-sm-4 col-md-4">
                            {% if feed.articles[n].readed %}<h3>{% else %}<h1>{% endif %}
                                <a href="/article/{{ feed.articles[n].id }}">{{ feed.articles[n].title|safe }}</a>
                            {% if feed.articles[n].readed %}</h3>{% else %}</h1>{% endif %}
                            <h6>{{ feed.articles[n].date.strftime('%A, %d %B %Y') }}</h6>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div><!-- /.container -->
{% endblock %}
