{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Your subscriptions</h1>
        <p>You are subscribed to {{ nb_feeds }} <a href="/feeds">feeds</a>. Add a <a href="/edit_feed/">feed</a>.</p>
        <p>{{ nb_articles }} articles are stored in the database with {{ nb_unread_articles }} <a href="/unread/">unread articles</a>.</p>
        <a href="/index_database/" class="btn btn-default">Index database</a>
    </div>
    <div class="jumbotron">
        <h1>Your Profile</h1>
        <p>Update your <a href="/profile/">profile</a>.</p>
    </div>
    <div class="jumbotron">
        <h1>Export articles</h1>
        <a href="/export/" class="btn btn-default">HTML</a>
    </div>
</div><!-- /.container -->
{% endblock %}